.side-filtering-bar {
    height: 500px;
    background: white;
    /* width: 220px; */
    height: 697px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);    
}
.row-wrapper {
    margin-top: 12px;
    .image-row-wrapper {
        margin-bottom: 36px;
        
    }
}

.search-box-wrapper {
    padding: 25px;
    .search-box{
        
        border-radius: 20px;
        border: none;
        padding: 10px;
        width: 25em;
    }
}