@font-face {
    font-family: Montserrat;
    src: url('../../assets//Montserrat-Regular.ttf');
}

@font-face {
    font-family: OpenSans;
    src: url('../../assets/OpenSans-Regular.ttf');
}

@font-face {
    font-family: LucidaGrande;
    src: url('../../assets/LucidaGrande.ttf');
}

.navbar-product-details-container {
    display: flex;
    justify-content: space-between;
    
    background: #2e2e2e;
    
    
    .Brand {
        padding: 25px;
    
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 800;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 4px;
        color: #f62f5e;
    }
    .links-container {
        display: flex;
        align-items: center;
        .links-region {
            padding: 25px;
            padding: 25px;
            
            font-family: Montserrat;
            font-size: 15px;
            font-weight: bold;
            font-style: normal;
           
            color: white;
            .activeClass {
                color:#f62f5e;
            }
            .inActiveClass {
                color: white;
            }
            .MuiBadge-root-17 {
                cursor: pointer;
                .MuiBadge-colorSecondary-20 {
                    color: #fff;
                    background-color: #f50057;
                    font-size: 15px;
                    font-weight: 800;
                }
            }
        }
    }
}
.details-wrapper {
    padding: 60px;
    margin: 30px;
    background: white;
    display: flex;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);

    .image-wrapper {
        .image-size {
            width: 390px;
            height: 400px;
        }
        .small-images-wrapper {
            display: flex;
            justify-content: center;
            margin-top: 44px;
            .small-image {
                margin-right: 15px;
                .small-image-size {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
    .info-container {
        margin-left: 45px;
        .product-name {
            width: 380px;
            height: 50px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 1px;
            color: #2e2e2e;
        }
        .image-price-details {
            font-weight: 800;
            color: #f62f5e;
            width: 84px;
            height: 50px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 1px;
        }
        .color-label {
            width: 45px;
            height: 40px;
            font-family: Montserrat;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #b4b4b4;
            margin-top: 14px;
        }
        .color-wrapper {
            display: flex;
            margin-bottom: 40px;
            .color {
                width: 18px;
                height: 18px;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
                // border: solid 4px #ffffff;
                border-radius: 12px;
                margin-right: 13px;
                cursor: pointer;
            }
            .activeClass {
                border: solid 4px #ffffff;

            }

            .color-White {
                background: white;
            }
            .color-Black {
                background: black;
            }
            .color-Red {
                background: red;
            }
            .color-Orange {
                background: orange;
            }
            .color-Yellow {
                background: yellow;
            }
            .color-Green {
                background: green
            }
            .color-Blue {
                background: blue
            }
            .color-Indigo {
                background: indigo
            }
            .color-Purple {
                background: purple
            }
        }
        .size-wrapper {
            display: flex;
            margin-bottom: 40px;
            .size {
                width: 55px;
                height: 24px;
                border-radius: 2px;
                background-color: #efefef;
                margin-right: 12px;
                text-align: center;
                border: none;
            }
            .size:focus {
                outline: none;
              }              
            .activeClassButton {
                background-color: #f62f5e
            }
        }
        .quantity-wrapper {
            .decrement-count {
                width: 36px;
                height: 36px;
                background-color: #efefef;
                margin-right: 12px;
                border: none;
                border-radius: 21px;
            }
            .decrement-count:focus {
                background-color: #f62f5e;
                outline: none;
              } 
            .count {
                width: 50px;
                height: 36px;
                border-radius: 100px;
                border: solid 1px #e1e1e1;
                background-color: #ffffff;
                margin-right: 12px;
            }

            .increment-count {
                width: 36px;
                height: 36px;
                background-color: #efefef;
                margin-right: 12px;
                border: none;
                border-radius: 21px;
            }
            .increment-count:focus {
                background-color: #f62f5e;
                outline: none;
              } 
        }
        .add-to-cart-button-wrapper {
            margin-top: 60px;
            .add-to-cart-button {
                
                background-color: #f62f5e;
                width: 221px;
                height: 60px;
                border-radius: 100px;
                outline: none;
                border: none;
                text-align: center;
                color: #ffffff;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: normal;
            }
        }
    }
}

.reviews-wrapper {
    padding: 60px;
    
    margin: 30px;
    background: #fafafa;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);
    .product-review-label {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: 1px;
        color: #2e2e2e;
        margin-bottom: 46px;
    }
    .reviews-main-wrapper{
        margin-bottom: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    .reviews-content-wrapper {
        display: flex;
        margin-bottom: 20px;
        .rating-review {
            width: 539px;
            font-family: OpenSans;
            font-size: 16px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #2e2e2e;
        }
        .ratings-review {
            width: 118px;
            height: 24px;
            font-family: LucidaGrande;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #2e2e2e;
        }
        .ratings-wrapper {
            width: 100px;
            margin-right: 220px;
            .rating {
                    width: 20px;
                    height: 20px;
                    color: #ffc94f
                }
            }
        }
    }
    .add-review-wrapper {
        .add-review-label {
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 800;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: 1px;
            color: #2e2e2e;
            margin-bottom: 42px;
            
        }
        .form-wrapper {
            .input-name-wrapper {
                display: flex;
                align-items: center;
                margin-bottom: 33px;
                .input-label {
                    width: 241px;
                    font-family: LucidaGrande;
                    font-size: 16px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.5;
                    letter-spacing: normal;
                    color: #2e2e2e;
                }
            }
            .input-button-wrapper{
                .input-button {
                    width: 220px;
                    height: 48px;
                    border-radius: 6px;
                    border-style: groove;
                    border: solid 1px #e1e1e1;
                    background: white;
                }
                .review-button {
                    width: 541px;
                    height: 121px;
                    
                }
            }
            .button-wrapper {
                text-align: center;
                .review-submit {
                    width: 91px;
                    height: 35px;
                    border-radius: 24px;
                    background-color: #f62f5e;
                    border: none;
                    width: 91px;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ffffff;
                }
            }
        }
    }
}